html {
  background-color: #edefee;
}
nav {
  display: flex;
  font-size: 16pt;
  font-family: "Karla";
  color: #495e57;
    justify-content: space-evenly;

}
nav a {
    text-decoration: none;
    
}
nav a:link, nav a:visited {
  color: #495e57;
}
nav li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;

}
header {
  background-color: #495e57;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;


}
header h1 {
  font-size: 64pt;
  font-family: "Markazi text";
  color: #f4ce14;
  margin-top: 0%;
}

header h3 {
 font-size: 20pt;
 margin-top: -10%;
 color: #edefee;
}

header p {
  max-width: 50vw;
  color: #edefee
}

header img {
 max-height: 300px;
 align-items: flex-end;
}

#button {
  width: 200px;
  height: 40px;
  display: inline-block;
  background-color: #f4ce14;
  border-radius: 16pt;
  text-align: center;
  font-size: 16pt;
  color: #495e57;
  font-family: "Karla";
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 0px;
}


/* ------------------------------ */

#highlights {
  
    justify-content: space-evenly;
    padding: 10px;
    color: #495e57;
    margin-bottom: 20px;

}
#container1 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
   margin: 20px 10px;
}
#container2 {
  display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;


}


#specials {
  display: inline-block;
  width: 25%;
  background-color: #fbdabb;
  
}

#specials img {
  width: 100%;
  margin-top: -12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


/* ---------------------------- */

#star {
  max-height: 15px;
}
#testimonials {
  display: flex;
  justify-content: space-evenly;
  background-color: #495e57;
  color: #edefee;
  padding: 20px;
}

#testimElems {
  display: inline-block;
  width: 25%;

}

#testimElems > img{
  width: 100%;
  border-radius: 50%;
}

#testimElems div {
margin-top: -15px;
}

#testimElems img + p {
  margin-top: 0px;
}

#about {
  padding: 10px;
  justify-content: space-between;
  display: flex;
}

#about div{
  width: 50%;

}

#about div h1 {
  font-size: 40pt;
  font-family: "Markazi text";
  margin: 0px;
}

#about div h3 {
   font-size: 20pt;
 margin-top: 0px;
 font-family: "Karla";
}

#about p {
  color: #495e57;
  font-size: 16px;
}

#about img{
  height: 200px;

  border-radius: 40pt;
}

#botImg {
  margin-right: -10%;
  margin-top: 8%;
  z-index: 2;
}

#arrow {
  display: inline-block;
   margin-left: -90%;
   margin-top: 10px; 


}


#headerOrder{
  display: flex;
 
}

#resDateTime{
  display: flex;
    justify-content: space-evenly;
}

#ordertitle {

  text-align: center;
  font-family: "Karla";

}
#ordertitle h2 {
  color: #333333;
    font-size: 20pt;
}
#ordertitle p {
    color: #495e57;
    font-size: 16pt;
}

#PersonSelector input {
  border-radius: 25pt;
  width: 40px;
}
#PersonSelector input::placeholder{
  text-align: center;
}

#selectorInfoBlank{
  margin-top: 0px;

}

#selectorInfo{
  /* margin-top: 0px; */

}

#infoText {
  /* margin: 0px;
  padding: 0px; */
  height: 25px;
}

#PersonSelector input[type=number]::-webkit-inner-spin-button,
#PersonSelector input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#PersonSelector input[type=number] {
  -moz-appearance: textfield;
}



#PersonSelector button{
  border-radius: 50%;
  font-style: bold;
}

footer {
  display: flex;
  padding: 20px;
  background-color: #495e57;
  justify-content: space-evenly;
}
footer img{
  max-height: 200px;
}
footer div{
  max-width: 25%; 

}
footer li {
   list-style-type: none;
   padding: 2px 0px;
    margin-left: -30px; 
      font-size: 16pt;
  font-family: Karla;
    color: #edefee;

}

footer a:link, footer a:visited {
      color: #edefee;
}

#none {
  display: flex;
  justify-content: center;
  font-size: 40pt;
  color: #495e57;
  font-family: "Markazi text";
}

