nav {
  display: flex;

}

nav li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}
footer {
  display: flex;
  padding: 20px;
}
footer img{
  max-height: 200px;
}
footer div{
  margin: 20px;
}
footer li {
   list-style-type: none;
   padding: 2px;
}